#anteriores
	h3
		color white
		font-size 20px
		font-weight normal
		margin-left 0
		position absolute
		text-align right
		width 197px
		img 
			margin 0 10px
#cuerpo
	padding-top 20px
#header_cursos
	height 500px 
	margin 0 auto
	max-width 1000px
	position relative
	.tela
		background rgba(0,0,0,.5)
		height 100%
		position absolute
		top 0
		width 100%
		z-index 2
	.datos 
		position absolute
		right 20px
		top 155px
		z-index 3
		text-align right
		h2 
			font-size 60px
			font-weight normal
			line-height 35px
.capitulo
	position realtive
@media screen and (max-width:1000px)
	#anteriores 
		height auto
@media screen and (max-width:800px)
	#anteriores
		height auto
		.capitulo
			margin 20px 0 !important
	#header_cursos
		height 320px
		overflow hidden
		.datos 
			text-align center
			width 100%
			right auto
			h2
				font-size 30px
				line-height 35px
				width auto
	.mes
		h5 
			height 60px
			font-size 60px 
			font-weight bold


@media screen and (max-width:480px)
	#anteriores
		text-align right
		h3 
			position inherit
			width auto
		.capitulo
			width auto
			height auto
			padding 0 20px
			.desc
				margin 10px 0
				width auto 
				display block

