{% extends "website/base.html" %}

{% block title %}Cursos Presenciales | Mejorando.la{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/base.css?2903" />
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/videos.css" />
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/cursos.css" />
{% endblock %}

{% block body %}
<div id="header_cursos">
    <img class="portada" src="{{ STATIC_PREFIX }}images/cursos/portada.jpg" alt="los cursos de Mejorandola" height="500" width="1000"/>
    <div class="tela"></div>
    <div class="datos">
    	<h2>Los cursos de <strong>Mejorando.la</strong></h2>   
    </div>
        
</div>
<section id="cuerpo">
  <section id="archivo">
	{% for mes in meses %}
		<div class="mes">
	      <h5>{{ mes.fecha|date:"F" }}</h5><span>{{ mes.fecha|date:"Y" }}</span>
	    </div>

	    <section id="anteriores">
	      {% for curso in mes.cursos %}
	      <article class="capitulo">
	      	<h3><img src="{{ STATIC_PREFIX }}images/home/{{ curso.pais|slugify }}.jpg" alt="{{ curso.pais }}" width="30" /> {{ curso.pais }}</h3>
	        <p class="desc">{{ curso.descripcion|striptags|truncatechars:120 }}</p>
	        <div class="cintaver">
	        </div><a href="{{ curso.slug }}" title="{{ curso.titulo }}">
	          
	          <div class="imagen"><img src="{{ curso.get_image_url }}" alt="{{ curso.titulo }}"/></div>
	          <div class="texto">
	            <div class="block">
	              <h2 class="tit">{{ curso.titulo|truncatechars:40 }}</h2>
	            </div>
	          </div></a>
	      </article>
		  {% endfor %}
	    </section>
	{% endfor %}
    
  </section>
</section>
{% endblock %}