#wysihtml5-toolbar {
  position: relative;
  margin:10px 0;
  clear:both;
}

#wysihtml5-toolbar > div {
  display: block;
  border-radius: 4px;
  background: #eee;
  position: relative;
  z-index: 1;
  text-align: center;
  background-image: linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -o-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  font-size: 0;
  text-align: center;
}

.commands {
  border-left: 1px solid #ddd;
  display: inline-block;
}

[data-wysihtml5-command],
[data-wysihtml5-action],
.fore-color {
  position: relative;
  border-right: 1px solid #ddd;
  border-left: 1px solid #fff;
  list-style: none;
  font-size: 12px;
  display: inline-block;
  cursor: pointer;
  height: 40px;
  width: 68px;
}

[data-wysihtml5-command]::after,
[data-wysihtml5-action]::after,
.fore-color::after {
  content: "";
  background-image: url(../images/spr_toolbar_icons_r1.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

[data-wysihtml5-command]:hover,
[data-wysihtml5-action]:hover,
.fore-color:hover {
  background-image: linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
  background-image: -o-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
}

[data-wysihtml5-command="bold"]::after {
  background-position: 24px center;
}

[data-wysihtml5-command="italic"]::after {
  background-position: -48px center;
}

[data-wysihtml5-command="insertUnorderedList"]::after {
  background-position: -115px center;
}

[data-wysihtml5-command="insertOrderedList"]::after {
  background-position: -197px center;
}

[data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h1"]::after {
  background-position: -344px center;
}

[data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h2"]::after {
  background-position: -428px center;
}

[data-wysihtml5-command="createLink"]::after {
  background-position: -271px center;
}

[data-wysihtml5-command="insertImage"]::after {
  background-position: -513px center;
}

.fore-color::after {
  background-position: -741px center;
}

[data-wysihtml5-command="insertSpeech"]::after {
  background-position: -596px center;
}

[data-wysihtml5-action="change_view"]::after {
  background-position: -670px center;
}


.wysihtml5-commands-disabled .fore-color ul {
  display: none;
}

.wysihtml5-action-active,
.wysihtml5-command-active {
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.2);
  background: #eee !important;
}

.wysihtml5-commands-disabled [data-wysihtml5-command],
.wysihtml5-commands-disabled .fore-color {
  opacity: 0.4;
  cursor: default;
  background-image: none !important;
}

[data-wysihtml5-dialog] {
  color: #333;
  font-size: 14px;
  text-align: left;
  border-radius: 4px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 5px 10px;
  background: #FFFBE0;
  position: absolute;
  width: 810px;
  text-align: center;
  top: 45px;
}

[data-wysihtml5-dialog] input {
  color: #333;
  border: 1px solid #ccc;
  padding: 3px;
  width: 300px;
}

[data-wysihtml5-dialog] input:focus {
  outline: 0;
  border: 1px solid #666;
}

[data-wysihtml5-dialog-action] {
  padding: 4px;
  color: #fff;
  cursor: pointer;
}

[data-wysihtml5-dialog-action="save"] {
  background: #007200;
}

[data-wysihtml5-dialog-action="cancel"] {
  background: #999;
}

.field-descripcion {
	width:650px !important;
}